.block__title {
font-family: 'Exo-3';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.02em;
margin: 0;
}

@media screen and (max-width: 767px) {
  .block__title {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
  }
}