.images__link {
  padding: 20px 0 0 40px;
}

@media screen and (max-width: 991px) {
  .images__link {
    padding: 103px 0 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .images__link {
    padding: 20px 0 0;
  }
}