.info__text {
  display: flex;
  flex-direction: column;
  max-width: 606px;
  margin: 0;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .info__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

