

@media screen and (max-width: 1439px) {
  .images__image {
    width: 235px;
    height: 146px;   
  }

  .images__image:last-child {
    width: 488px; 
    min-height: 304px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 3;
  }
}