.footer__subtitle {
  font-family: 'Exo-2';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  margin: 20px 0 20px;
  max-width: 816px;
  margin: 0;
  padding: 20px 0 20px;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .footer__subtitle {
    padding: 20px 0 14px;
    max-width: 612px;
  }
}

@media screen and (max-width: 689px) {
  .footer__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}

