.footer__subtitle {
  font-family: 'Exo-2';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  margin: 20px 0 20px;
  max-width: 816px;
}

@media screen and (max-width: 605px) {
  .footer__subtitle {
    font-size: 20px;
    width: 302px;
    margin: 20px auto;
  }
}