.block__text {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 1439px) {
  .block__text {
    max-width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .block__text {
    margin: 0;
    align-items: center;
    justify-content: space-between;
    height: 630px;
  }
}