.info__subtitle {
  font-family: 'Exo-2';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 20px 0 289px 0;
}

@media screen and (max-width: 1050px) {
  .info__subtitle {
    padding: 20px 0 20px 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 689px) {
  .info__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
