.preview__info {
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/dawn.svg);
  background-repeat: no-repeat;
  width: 1028px;
  margin: 0 0 0 43px;
  min-height: 609px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin: 0
}

@media screen and (max-width: 1439px) {
  .preview__info {
    max-width: 100%;
    min-height: 800px;
  }
}

@media screen and (max-width: 689px) {
  .preview__info {
    align-items: center;
    justify-content: center;
    min-height: 280px;
  }
}
