.preview__main-text {
  font-family: 'Exo-3';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 105%;
  letter-spacing: -0.005em;
  color: #fff;
  margin: 0;
  padding: 20px 0 0 20px;
}

@media screen and (max-width: 689px) {
  .preview__main-text {
    padding: 0 0 0 15px;

  }
}