.footer__text {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
}

@media screen and (max-width: 1050px) {
  .footer__text {
    justify-content: center;
    align-self: center;
    align-items: center;
    
  }
}