.info__title {
  font-family: 'Exo-3';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 105%;
  letter-spacing: -0.005em;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .info__title {
    align-self: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .info__title {
    align-self: center;
  }
}