.info__title {
  font-family: 'Exo-3';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 105%;
  letter-spacing: -0.005em;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 689px) {
  .info__title {
    font-size: 40px;
    line-height: 48px;
  }
}