.preview__top {
  display: flex;
  margin: 0px 40px 49px;
}

@media screen and (max-width: 1439px) {
  .preview__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1050px) {
  .preview__top {
    margin: 20px 20px;
  }
}