.info__image {
  max-width: 673px;
  min-height: 610px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  margin: 0;
}

@media screen and (max-width: 1050px) {
  .info__image {
    margin: 20px 0 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 689px) {
  .info__image {
    margin: 20px 0 0;
    min-height: 254px;
    min-width: 280px
  }
}

