.info {
  margin: 30px 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .info {
    margin: 0 20px 40px;
  }
}

@media screen and (max-width: 767px) {
  .info {
    margin: 0 10px 40px;
  }
}

/*@media screen and (max-width: 1050px) {
  .info {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}*/



