.preview__text {
  font-family: 'Exo-2';
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin: 20px 0 0 43px;
}

@media screen and (max-width: 689px) {
  .preview__text {
    text-align: center;
    margin: 20px 0 0 0;
  }
}