.images__subtitle {
  font-family: 'Exo-2';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0;
  padding: 324px 0 0 40px;
}

@media screen and (max-width: 991px) {
  .images__subtitle {
    padding: 20px 0 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .images__subtitle {
    color: black;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 20px 0 ;
  }
}