.instruction__one {
  width: 332px;
  min-height: 305px;
  border-radius: 20px;
  background-image: linear-gradient(rgba(41, 56,	111, 0.64), rgba(41, 56,	111, 0.64)), url(../../../images/vetka.svg);
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

