.instruction {
  display: flex;
  margin: 0 40px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1439px) {
  .instruction {
    gap: 10px;
    margin: 0 20px;
    max-width: 100%;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1024px) {
  .instruction {
    margin: 0 20px;
  }
}

@media screen and (max-widtH: 991px) {
  .instruction {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .instruction {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
  }
}