.preview__images-position_two {
  background-image: url(../../../../images/sf.svg);
  width: 330px;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

@media screen and (max-width: 1439px) {
  .preview__images-position_two {
    width: 100%;
    min-height: 304px;
  }
}

@media screen and (max-width: 767px) {
  .preview__images-position_two {
    max-width: 300px;
    height: 280px;
    text-align: center;
  }
}