.images__four {
  background-image: url(../../../images/sven2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 161.97px;
  height: 145px;
  border-radius: 20px;
  background-position: center;
}

@media screen and (max-width: 1439px) {
  .images__four {
    width: 100%;
  }
}